
<div class="welcome" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam pariatur nam praesentium ab veniam repudiandae blanditiis iste quod officia reprehenderit suscipit, est asperiores modi ut saepe, quasi ducimus rerum obcaecati?</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio velit officia inventore beatae! Illum quisquam est molestiae. Ratione ipsa nesciunt adipisci labore. Molestias dolore quos repudiandae vitae animi, fugit libero.</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia alias consequuntur cumque, iste labore harum dolores est quasi autem deserunt enim dolorum sed magni quis, culpa perspiciatis esse ex libero?</p>
  </section>
</div>
